body {
    background-color:#080808;
    margin: 0;
    padding: 0;
}

.header1 {
    background-color: #0055D4;
    margin: -18px 0 0 0;
    display: flex;
    /* font-size: 12px;
    height: 35px;
    font-weight: 200; */

    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .9375rem;
    text-decoration: none;
    transition: background-color .2s;
    position: relative;
}